
<div class="row align-items-center">
    <div class="col-md-5 text-center">
        <img src="https://m.media-amazon.com/images/I/81wgcld4wxL._AC_UF1000,1000_QL80_.jpg"
             alt="Atomic Habits book cover" class="cover-img img-fluid">
    </div>
    <div class="col-md-7">
        <h1 class="mb-4">Atomic Habits</h1>
        <h4 class="text-muted">James Clear</h4>
        <p class="lead mt-4">
            A practical guide to building good habits and breaking bad ones.
        </p>
        <hr>
        <p>Explore more information using the navigation bar above.</p>
    </div>
</div>
{% endblock %}