{% extends 'book/base.html' %}

{% block title %}Metadata – Atomic Habits{% endblock %}

{% block content %}
<h2>Book Metadata</h2>
<hr>
<ul class="list-group list-group-flush fs-5">
    <li class="list-group-item"><strong>Title:</strong> Atomic Habits</li>
    <li class="list-group-item"><strong>Author:</strong> James Clear</li>
    <li class="list-group-item"><strong>ISBN:</strong> 978-0735211292</li>
    <li class="list-group-item"><strong>Published:</strong> October 16, 2018</li>
    <li class="list-group-item"><strong>Pages:</strong> 320</li>
    <li class="list-group-item"><strong>Genre:</strong> Self-help, Personal Development</li>
</ul>
{% endblock %}