#ground {
height: 300px;
border-top: 2px solid black;
position: relative;
}
#ball {
width: 50px;
height: 50px;
background: red;
border-radius: 50%;
position: absolute;
left: 50%;
bottom: 0;
}
